# Netflix user engagement analyse

## Setup

In [2]:
# Wir importieren die Bibliothek pandas
import pandas as pd

## Daten

### Daten importieren

In [3]:
# Wir lesen die Daten ein 
# Pfad zu den Daten in GitHub:
# 'https://raw.githubusercontent.com/kirenz/datasets/master/netflix.csv'

df = pd.read_csv('https://raw.githubusercontent.com/kirenz/datasets/master/netflix.csv')

### Daten anzeigen

In [4]:
# Tabellenanfang und Tabellenende anzeigen
df

     group        outcome
0        A     Engagement
1        B  No engagement
2        B  No engagement
3        B  No engagement
4        B  No engagement
...    ...            ...
1995     A  No engagement
1996     A     Engagement
1997     A  No engagement
1998     A     Engagement
1999     A     Engagement

[2000 rows x 2 columns]

In [5]:
# Nur den Tabellenkopf anzeigen
df.head()

  group        outcome
0     A     Engagement
1     B  No engagement
2     B  No engagement
3     B  No engagement
4     B  No engagement

In [6]:
# Metadaten anzeigen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   group    2000 non-null   object
 1   outcome  2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

## Analyse

### Kreuztabelle

Einfache Kreuztabelle

In [7]:
pd.crosstab(df['group'], # Zeilen
            df['outcome']) # Spalten

outcome  Engagement  No engagement
group
A               645            355
B               436            564

Mit Ausgabe der Summen:

In [8]:
pd.crosstab(df['group'], 
            df['outcome'],
            margins=True # Summe der Spalten und Zeilen anzeigen
            )

outcome  Engagement  No engagement   All
group
A               645            355  1000
B               436            564  1000
All            1081            919  2000

Darstellung in Prozent

In [9]:
pd.crosstab(df['group'], 
            df['outcome'],
            margins=True,
            normalize=True # Ausgabe von Prozentwerten
            )

outcome  Engagement  No engagement  All
group
A            0.3225         0.1775  0.5
B            0.2180         0.2820  0.5
All          0.5405         0.4595  1.0

Hinweise zu weiteren Anpassungen:

- Umbenennung der Spalten und Zeilen
- Multiplikation aller Werte mit 100

In [10]:
ct = pd.crosstab(df['group'], 
            df['outcome'],
            margins=True,
            normalize=True,
            rownames=['Group'],  # Umbenennung der Zeilen
            colnames=['Outcome'] # Umbenennung der Spalten
            ) * 100 # Multiplikation mit 100 fÃ¼r eine bessere Darstellung der Prozentwerte

ct

Outcome  Engagement  No engagement    All
Group
A             32.25          17.75   50.0
B             21.80          28.20   50.0
All           54.05          45.95  100.0